<menu>
<h2>- {:L('_SYS_ADMIN_')} -</h2>
<ul>
<li <eq name="left_menuid" value="0">class="cur"</eq>><a href="/sys">{:L('_SYS_BASIC_')}</a></li>            
<li <eq name="left_menuid" value="1">class="cur"</eq>><a href="/sys/password">{:L('_SYS_EDIT_PASSWORD_')}</a></li>
<li <eq name="left_menuid" value="2">class="cur"</eq>><a href="/sys/mobile">{:L('_SYS_EDIT_MOBILE_')}</a></li>
<li <eq name="left_menuid" value="3">class="cur"</eq>><a href="/sys/admin">{:L('_SYS_ADMIN_MANGER_')}</a></li>
<li <eq name="left_menuid" value="4">class="cur"</eq>><a href="/shop">{:L('_SYS_SHOP_MANGER_')}</a></li>
<li <eq name="left_menuid" value="7">class="cur"</eq>><a href="/role">{:L('_SYS_ROLE_MANGER_')}</a></li>
<li <eq name="left_menuid" value="8">class="cur"</eq>><a href="/appset">{:L('_SYS_APP_MANGER_')}</a></li>
<li <eq name="left_menuid" value="9">class="cur"</eq>><a href="/shop/qrcode">{:L('_SYS_QRCODE_PAY_')}</a></li>

</ul>
</menu>