<!DOCTYPE html>
<html lang="{:strtolower(LANG_SET)}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{:L('_SHOP_EDIT_PASS_')} - {:L('_SYS_ADMIN_')} - {$admin['mct_name']}</title>
<include file="./css" />
<script type="text/javascript">
function checkpwd(obj){
	if(isNaN($("#password").val()) || $("#password").val().length!=6){
		layer.msg('{:L('_SHOP_PASS_6NUM_TIP_')}');
		return false;
	}
	return ttgValidata(obj);	
}
</script>
</head>
<body>
<include file="./header" />
<form action="__CONTROLLER__/password_save" method="post"  onSubmit="return checkpwd(this)">
<div class="con_bg clearfix">
<div class="main">
<include file="./Sys/left_menu" />
<div class="content">
<div class="hd">{:L('_SHOP_EDIT_PASS_')}</div>
<div class="from_box left_m ts_box">
<div class="ts">{:L('_SHOP_EDIT_PASS_TIP_')}</div>
<dl>
<dt>{:L('_SHOP_NAME_')} : </dt>
<dd>{$rows['shop_name']}</dd>
<dt>{:L('_SHOP_NEW_PASS_')} : </dt>
<dd><input title="{:L('_SHOP_NEW_PASS_')}" class="txt required" maxlength="6" id="password" name="password" placeholder="{:L('_SHOP_NEW_PASS_6_')}" type="text" onfocus="this.type='password'" autocomplete="off" /></dd>
<dt>{:L('_SHOP_NEW_PASS2_')}  : </dt>
<dd><input title="{:L('_SHOP_NEW_PASS2_')}" class="txt required" maxlength="6" id="password2" name="password2" type="text" onfocus="this.type='password'" autocomplete="off" placeholder="{:L('_SHOP_NEW_PASS_6_')}" /></dd>
<dt>{:L('_SHOP_USER_PASS_')} : </dt>
<dd><input title='{:L('_SHOP_USER_PASS_')}' name="login_password" type="text" onfocus="this.type='password'" autocomplete="off" class="txt required" type="text" placeholder="{:L('_SHOP_USER_PASS_TIP_')}" /></dd>
</dl>
<div class="top40"><button type="submit" class="btn blue_btn  left20">{:L('_OK_')}</button><button type="button" class="btn left80 gray_btn2" onClick="window.history.back()">{:L('_CANCEL_')}</button></div>
</div>
</div>
</div>
</div>
<input name="shop_no" type="hidden" value="{$rows['shop_no']}">
</form>
<include file="./footer" />
</body>
</html>