<menu>
<h2>- 收银台 -</h2>
<ul>
<li <eq name="left_menuid" value="1">class="cur"</eq>><a href="/pos">普通收银</a></li>
<li <eq name="left_menuid" value="2">class="cur"</eq>><a href="/Posapp">我的应用</a></li>
<li <eq name="left_menuid" value="3">class="cur"</eq>><a href="/posorder">交易流水</a></li>
<li <eq name="left_menuid" value="4">class="cur"</eq>><a href="/posappstore">应用市场</a></li>
<li <eq name="left_menuid" value="6">class="cur"</eq>><a href="/posterminal">机器管理</a></li>
<li <eq name="left_menuid" value="5">class="cur"</eq>><a href="/posaccount">门店T账户</a></li>
</ul>
</menu>