<link href="/Public/mct2/css/2.0/common-2.0.css?t=1464773641" rel="stylesheet">
<link href="/Public/mct2/css/2.0/tlinx-2.0.css?t=1464773641" rel="stylesheet">
<if condition="strtolower(LANG_SET) eq 'en-us'">
<link href="/Public/mct2/css/2.0/en-us.css" rel="stylesheet" />
</if>
<link href="/Public/js/jquery.datetimepicker.css" rel="stylesheet"/>
<script src="/Public/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="/Public/js/icheck.js"></script>
<script type="text/javascript" src="/Public/mct2/js/tlinx-2.0.js"></script>
<!--[if IE]>
<script type="text/javascript" src="/Public/js/html5.js"></script>
<![endif]-->
<script type="text/javascript" src="/Public/js/jQselect.js"></script>
<script type="text/javascript" src="/Public/js/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/Public/js/layer/layer.js"></script>
<script type="text/javascript" src="/Public/js/sha1.js"></script>
<script type="text/javascript" src="/Public/mct2/js/common.js?t=1464773641"></script>
<script language="javascript">
function input_tips(str){return "{:L('_NOT_NULL_')}".replace('INPUT_NAME',str);}
var btn_ok='{:L('_OK_')}';
var btn_cancel='{:L('_CANCEL_')}';
var str_password='{:L('_STR_PASSWORD_')}';
</script>