<!DOCTYPE html>
<html lang="{:strtolower(LANG_SET)}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{:L('_ACCOUNT_SHOP_')} - {$admin['mct_name']}</title>
<include file="./css" />
</head>
<body>
<include file="./header" />
<div class="con_bg clearfix">
<div class="main">
<include file="left_menu" />
<div class="content">
<div class="hd">{:L('_ACCOUNT_SHOP_')}</div>
<neq name="list" value="">
<div class="table pd20">
<table cellpadding="0" cellspacing="0" class="tr_color" width="100%">
<thead>
<tr>
<th width="30%">{:L('_ACCOUNT_SHOP_NAME_')}</th>
<th>{:L('_ACCOUNT_BALANCE_')}</th>
<th>{:L('_ACCOUNT_AMOUNT_')}</th>
<th>{:L('_ACCOUNT_CASH_AMOUNT_')}</th>
<th>{:L('_ACCOUNT_STATUS_')}</th>
<th>{:L('_ACTION_')}</th>
</tr>
</thead>
<tbody>
<volist name="list" id="vo">
<tr>
<td>{$vo['shop_name']}</td>
<td>{$vo['currency_sign']}{$vo['act_balance']/100|number_format=###,2}</td>
<td>{$vo['currency_sign']}{$vo['act_amount']/100|number_format=###,2}</td>
<td>{$vo['currency_sign']}{$vo['act_cash_amount']/100|number_format=###,2}</td>
<td>
<switch name="vo.act_status">
<case value="1">{:L('_ACCOUNT_STATUS_1_')}</case>
<case value="2">{:L('_ACCOUNT_STATUS_2_')}</case>
<case value="3">{:L('_ACCOUNT_STATUS_3_')}</case>
<case value="4">{:L('_ACCOUNT_STATUS_4_')}</case>
<default />{:L('_ACCOUNT_STATUS_0_')}
</switch>
</td>
<td class="blue">
<gt name="vo['act_status']" value="0">
<a href="__CONTROLLER__/tradelog/shop_no/{$vo['shop_no']}">{:L('_ACCOUNT_TRADE_LOG_')}</a>
<a class="left10" href="__CONTROLLER__/applog/shop_no/{$vo['shop_no']}">{:L('_ACCOUNT_APP_LOG_')}</a>
<a class="left10" href="__CONTROLLER__/recharge/shop_no/{$vo['shop_no']}">{:L('_ACCOUNT_RECHARGE_')}</a>
<a class="left10" href="__CONTROLLER__/transfer/type/2/shop_no/{$vo['shop_no']}">{:L('_ACCOUNT_TRANSFER_OUT_')}</a>
<a class="left10" href="__CONTROLLER__/cash/shop_no/{$vo['shop_no']}">{:L('_ACCOUNT_CASH_')}</a>
<a class="left10" href="__CONTROLLER__/index/shop_no/{$vo['shop_no']}">{:L('_SHOW_')}</a>
<else/>
<a href="__CONTROLLER__/register/shop_no/{$vo['shop_no']}">{:L('_ACCOUNT_REGISTER_')}</a>
</gt>
</td>
</tr>
</volist>
</tbody>
</table>
<div class="page top30 clearfix">
{$page}
</div>
<else/>
<div class="no_data"><img src="/Public/mct2/images/2.0/no_data.png"><p>{:L('_NO_DATA_')}</p></div>
</neq>
</div>
</div>
</div>
</div>
<include file="./footer" />
</body>
</html>