<!DOCTYPE html>
<html lang="{:strtolower(LANG_SET)}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title><neq name="map['shop_no']" value="">{$rows['shop_info']['shop_name']}</neq>{:L('_ACCOUNT_TRADE_LOG_')} - {$admin['mct_name']}</title>
<include file="./css" />
<script type="text/javascript">
$(function(){
	//隔行变色
	ttgWeb.oddColor();
	//日期
	jQuery.datetimepicker.setLocale('{:substr(strtolower(LANG_SET),0,2)}');
	$('.datetimepicker').datetimepicker({
		timepicker:false,
		format:'Y-m-d'
	});
});
</script>
</head>
<body>
<include file="./header" />
<div class="con_bg clearfix">
<div class="main">
<include file="left_menu" />
<div class="content">
<div class="hd"><neq name="map['shop_no']" value="">{$rows['shop_info']['shop_name']}</neq> {:L('_ACCOUNT_TRADE_LOG_')}</div>
<form action="__CONTROLLER__/tradelog" method="post">
<div class="search_box">
<dl>
<dt>{:L('_ACCOUNT_TRADE_TIME_')} : </dt>
<dd><input class="datetimepicker txt date" name="sdate" value="{$map.sdate}" type="text"/> — <input type="text" class="datetimepicker txt date" name="edate" value="{$map.edate}"/></dd>
<dt>{:L('_ACCOUNT_TRADE_TYPE_')} : </dt>
<dd>
<span class="sel sel_2">
<select name="type">
<option value="" >{:L('_ALL_')}</option>
<option value="1" <eq name="map['type']" value="1">selected</eq>>{:L('_ACCOUNT_RECHARGE_')}</option>
<option value="2" <eq name="map['type']" value="2">selected</eq>>{:L('_ACCOUNT_TRANSFER_IN_')}</option>
<option value="3" <eq name="map['type']" value="3">selected</eq>>{:L('_ACCOUNT_APP_IN_')}</option>
<option value="4" <eq name="map['type']" value="4">selected</eq>>{:L('_ACCOUNT_TRANSFER_OUT_')}</option>
<option value="5" <eq name="map['type']" value="5">selected</eq>>{:L('_ACCOUNT_CASH_')}</option>
<option value="6" <eq name="map['type']" value="6">selected</eq>>{:L('_ACCOUNT_BUY_APP_')}</option>
<option value="7" <eq name="map['type']" value="7">selected</eq>>{:L('_ACCOUNT_OTHER_OUT_')}</option>
<option value="8" <eq name="map['type']" value="8">selected</eq>>{:L('_ACCOUNT_AD_OUT_')}</option>
<option value="9" <eq name="map['type']" value="9">selected</eq>>{:L('_ACCOUNT_OTHER_IN_')}</option>
<option value="99" <eq name="map['type']" value="99">selected</eq>>{:L('_ACCOUNT_ALL_IN_')}</option>
<option value="98" <eq name="map['type']" value="98">selected</eq>>{:L('_ACCOUNT_ALL_OUT_')}</option>
</select>
</span>
</dd>
<dt>{:L('_ACCOUNT_TRADE_STATUS_')} : </dt>
<dd>
<span class="sel sel_2">
<select name="status">
<option value="">{:L('_ALL_')}</option>
<option value="1" <eq name="map['status']" value="1">selected</eq>>{:L('_ACCOUNT_TRADE_SUCCESS_')}</option>
<option value="2" <eq name="map['status']" value="2">selected</eq>>{:L('_ACCOUNT_TRADE_WAIT_')}</option>
<option value="4" <eq name="map['status']" value="4">selected</eq>>{:L('_ACCOUNT_TRADE_FAIL_')}</option>
</select>
</span>
</dd>
</dl>
<button type="submit" class="btn search_btn" type="submit">{:L('_SEARCH_')}</button>
</div>
<neq name="map['shop_no']" value=""><input type="hidden" name="shop_no" value="{$map['shop_no']}"></neq>
</form>
<neq name="list" value="">
<div class="table pd20">
<p>{:L('_ACCOUNT_TRADE_TOTAL_TIP_',array('inout'=>number_format(($count['in']+$count['out'])/100,2),'in'=>number_format($count['in']/100,2),'out'=>number_format($count['out']/100,2)))}</p>
<table cellpadding="0" cellspacing="0" class="tr_color top20" width="100%">
<thead>
<tr>
<th>{:L('_ACCOUNT_TRADE_ID_')}</th>
<th>{:L('_ACCOUNT_TRADE_TIME_')}</th>
<th>{:L('_ACCOUNT_TRADE_TYPE_')}</th>
<th>{:L('_ACCOUNT_TRADE_AMOUNT_')}</th>
<th>{:L('_ACCOUNT_TRADE_STATUS_')}</th>
<th>{:L('_ACCOUNT_BALANCE_')}</th>
<th>{:L('_ACCOUNT_MAN_')}</th>
<th>{:L('_REMARK_')}</th>
</tr>
</thead>
<tbody>
<volist name="list" id="vo">
<tr>
<td>{$vo['acl_id']}</td>
<td>{$vo['acl_time']}</td>
<td><switch name="vo.acl_type">
<case value="1">{:L('_ACCOUNT_RECHARGE_')}</case>
<case value="2">{:L('_ACCOUNT_TRANSFER_IN_')}</case>
<case value="3">{:L('_ACCOUNT_APP_IN_')}</case>
<case value="4">{:L('_ACCOUNT_TRANSFER_OUT_')}</case>
<case value="5">{:L('_ACCOUNT_CASH_')}</case>
<case value="6">{:L('_ACCOUNT_BUY_APP_')}</case>
<case value="7">{:L('_ACCOUNT_OTHER_OUT_')}</case>
<case value="8">{:L('_ACCOUNT_AD_OUT_')}</case>
<case value="9">{:L('_ACCOUNT_OTHER_IN_')}</case>
<default />unknown
</switch></td>
<td>{$vo['currency_sign']}{$vo['acl_amount']/100|number_format=###,2}</td>
<td><switch name="vo.acl_status">
<case value="1">{:L('_ACCOUNT_TRADE_SUCCESS_')}</case>
<case value="2">{:L('_ACCOUNT_TRADE_WAIT_')}</case>
<case value="4">{:L('_ACCOUNT_TRADE_FAIL_')}</case>
<default />unknown
</switch></td>
<td>{$vo['currency_sign']}{$vo['acl_balance']/100|number_format=###,2}</td>
<td>{$vo['scr_true_name']}（{$vo['scr_id']}）</td>
<td>{$vo['acl_remark']}</td>
</tr>
</volist>
</tbody>
</table>
<div class="page top30 clearfix">
{$page}
</div>
<else/>
<div class="no_data"><img src="/Public/mct2/images/2.0/no_data.png"><p>{:L('_NO_DATA_')}</p></div>
</neq>
</div>
</div>
</div>
</div>
<include file="./footer" />
</body>
</html>